Repository 2020PB/police-brutality, pull requests merged in 2020-06, with the labels that each got.

#285 Merge duplicate reports from Philadelphia, PA
  reports/Pennsylvania.md
Labels: Combine reports

#282 Removing redundant incident
  reports/Colorado.md
Labels: Combine reports

#292 Added precise location to LA wheelchair man incident
  reports/California.md
Labels: Add location

#303 Removed incorrect listing - California
  reports/California.md
Labels: Combine reports

#293 Adding two incidents in Orlando
  reports/Florida.md
Labels: New report

#295 Philadelphia, PA; +1 Journalistic Source
  reports/Pennsylvania.md
Labels: New report

#299 Added new incident on May 30th Los Angeles
  reports/California.md
Labels: New report

#302 New entry added - NYC man hit in neck
  reports/New York.md
Labels: New report

#308 Added incident - Swiss press
  reports/Minnesota.md
Labels: New report

#312 New Entry - Los Angeles
  reports/California.md
Labels: New report

#327 Update Georgia.md
  reports/Georgia.md
Labels: New report

#328 Update Illinois.md
  reports/Illinois.md
Labels: New report

#313 add incident involving Temple U student
  reports/Pennsylvania.md
Labels: Duplicate, New report

#324 Adding unique IDs to every event
  reports/Alabama.md
  reports/Arizona.md
  reports/Arkansas.md
  reports/California.md
  reports/Colorado.md
  reports/Florida.md
  reports/Georgia.md
  reports/Illinois.md
  reports/Indiana.md
  reports/Iowa.md
  reports/Kentucky.md
  reports/Louisiana.md
  reports/Massachusetts.md
  reports/Michigan.md
  reports/Minnesota.md
  reports/Missouri.md
  reports/Nebraska.md
  reports/Nevada.md
  reports/New York.md
  reports/North Carolina.md
  reports/North Dakota.md
  reports/Ohio.md
  reports/Oregon.md
  reports/Pennsylvania.md
  reports/South Carolina.md
  reports/Tennessee.md
  reports/Texas.md
  reports/Unknown Location.md
  reports/Utah.md
  reports/Vermont.md
  reports/Virginia.md
  reports/Washington DC.md
  reports/Washington.md
  reports/Wisconsin.md
Labels: Engineering

#334 New entry, DC: Police charging crowd
  reports/Washington DC.md
Labels: New report

#279 Create Connecticut.md
  reports/Connecticut.md
Labels: New report

#380 Add ids from markdown to pipeline
  tools/data_builder.py
Labels: Engineering

#339 New entry, DC: man shelters protestors
  reports/Washington DC.md
Labels: New report

#377 added ca-clayton-1
  reports/California.md
Labels: New report

#378 added ca-costa-mesa-1
  reports/California.md
Labels: New report

#323 Adding multiple incidents to Nevada
  reports/Nevada.md
Labels: New report

#330 New entry, Texas: man shot in eye
  reports/Texas.md
Labels: New report

#337 New entry, DC
  reports/Washington DC.md
Labels: New report

#338 New entry, DC
  reports/Washington DC.md
Labels: New report

#340 New entry, DC
  reports/Washington DC.md
Labels: New report

#362 Add initial set of unit tests for `data_builder`
  .github/workflows/build_data_ci.yml
  .github/workflows/validate_data_ci.yml
  tools/.gitignore
  tools/README.md
  tools/data_builder.py
  tools/requirements.txt
  tools/tests/__init__.py
  tools/tests/test_data_builder.py
  tools/tests/test_process_md_texts.py
Labels: Engineering

#614 Update Oregon.md
  reports/Oregon.md
Labels: New report

#623 Update Alabama.md
  reports/Alabama.md
Labels: New report

#636 Add link to edge cases doc in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Docs

#632 added in-fortwayne-5
  reports/Indiana.md
Labels: New report

#635 Add links and format edge cases doc
  docs/content-guideline-edge-cases.md
Labels: Docs

#641 Added additional information
  reports/Virginia.md
Labels: Incident Update

#625 Update New York.md
  reports/New York.md
Labels: New report

#643 Freedom of speech cases in Valdosta
  reports/Georgia.md
Labels: New report

#642 Some new incidents from Laravel
  reports/Florida.md
Labels: New report

#640 Added Bethel incident that's making the rounds
  reports/Ohio.md
Labels: New report

#638 Added Richmond VA incident
  reports/Virginia.md
Labels: New report

#633 Add Tulsa incident
  reports/Oklahoma.md
Labels: New report

#618 Nebraska updates from Laravel
  reports/Nebraska.md
Labels: New report

#649 Changes from Laravel (mostly Greg Doucette stuff)
  reports/Ohio.md
Labels: New report

#648 Additional link on mn-minneapolis-6
  reports/Minnesota.md
Labels: Incident Update

#647 Additional link for May 31st journalist incident
  reports/Minnesota.md
Labels: Incident Update

#646 More info on WCCO
  reports/Minnesota.md
Labels: Incident Update

#645 More info on Linda Tirado
  reports/Minnesota.md
Labels: Incident Update

#644 Some more NYC incidents
  reports/New York.md
Labels: Incident Update, New report

#656 Adding person-with-disability
  docs/possible_tags.md
Labels: Docs

#657 Adding new incident
  reports/Indiana.md
Labels: New report

#659 Michigan cleanup
  reports/Michigan.md
Labels: Incident Update

#654 Update New York.md
  reports/New York.md
Labels: Incident Update, New report

#661 New incident
  reports/Michigan.md
Labels: New report

#666 MO ssouri mo problems
  reports/Missouri.md
Labels: Incident Update, New report

#667 Cleanup & new incident
  reports/Ohio.md
Labels: Incident Update, New report

#668 Added Athens incident
  reports/Georgia.md
Labels: New report

#672 Added Walnut Creek incident
  reports/California.md
Labels: New report

#676 Adding new incident
  reports/Oregon.md
Labels: New report

#685 Pittsburgh changes
  reports/Pennsylvania.md
Labels: Incident Update, New report

#514 added mn-minneapolis-25
  reports/Minnesota.md
Labels: New report

#518 added mn-minneapolis-29
  reports/Minnesota.md
Labels: New report

#701 Add incident AL-Birmingham-2
  reports/Alabama.md
Labels: New report

#705 CO: New incidents from Laravel
  reports/Colorado.md
Labels: New report

#704 Ohio: Added incident from yesterday
  reports/Ohio.md
Labels: New report

#703 VA: New incident from 21st
  reports/Virginia.md
Labels: New report

#702 CA: New incidents from the 21st
  reports/California.md
Labels: New report

#700 TX: New link. Looked at similar architecture
  reports/Texas.md
Labels: Incident Update

#699 TX: Added pregnant woman shot
  reports/Texas.md
Labels: New report

#698 TX: New incident
  reports/Texas.md
Labels: Incident Update, New report

#665 Adding LRAD to tags
  docs/possible_tags.md
Labels: Docs

#687 PA: New incident
  reports/Pennsylvania.md
Labels: New report

#689 VA: Fredericksburg incident
  reports/Virginia.md
Labels: New report

#690 VA: New links for spit-cident
  reports/Virginia.md
Labels: Incident Update

#691 OR:New Incident
  reports/Oregon.md
Labels: New report

#697 WA: Some cleanup and new incidents
  reports/Washington.md
Labels: Incident Update, New report

#706 D.C.: Incidents from Laravel & cleanup
  reports/Washington DC.md
Labels: Incident Update, New report

#708 New Link in Richmond
  reports/Virginia.md
Labels: Incident Update

#710 WA: New incident
  reports/Washington.md
Labels: New report

#711 CA: Oakland incident
  reports/California.md
Labels: New report

#712 CA: New San Diego Incident
  reports/California.md
Labels: New report

#713 CA: New San Jose incident
  reports/California.md
Labels: New report

#721 DC: incident from June 22nd
  reports/Washington DC.md
Labels: New report

#719 AZ: incident from Trump rally
  reports/Arizona.md
Labels: New report

#686 PA: Fixing philly incident
  reports/Pennsylvania.md
Labels: Incident Update

#723 OR: new portland incidents
  reports/Oregon.md
Labels: New report

#722 OK: New incident
  reports/Oklahoma.md
Labels: New report

#728 OR: finishing Laravel
  reports/Oregon.md
Labels: New report

#729 VA: New Incident
  reports/Virginia.md
Labels: New report

#730 NV: New incident
  reports/Nevada.md
Labels: New report

#731 OR: incidents from June 26th
  reports/Oregon.md
Labels: New report

#732 Added foam bullets
  docs/possible_tags.md
Labels: Docs

#734 CA: Finishing Doucette
  reports/California.md
Labels: Incident Update, New report

#735 DC: New incident
  reports/Washington DC.md
Labels: New report

#634 Add location to il-chicago-4
  reports/Illinois.md
Labels: Add location

#745 Data v2, and a data rewriter to lint the markdown files
  .github/workflows/build_data_ci.yml
  .github/workflows/validate_data_ci.yml
  reports/Alabama.md
  reports/Arizona.md
  reports/Arkansas.md
  reports/California.md
  reports/Colorado.md
  reports/Connecticut.md
  reports/Delaware.md
  reports/Florida.md
  reports/Georgia.md
  reports/Illinois.md
  reports/Indiana.md
  reports/Iowa.md
  reports/Kentucky.md
  reports/Louisiana.md
  reports/Massachusetts.md
  reports/Michigan.md
  reports/Minnesota.md
  reports/Missouri.md
  reports/Nebraska.md
  reports/Nevada.md
  reports/New Jersey.md
  reports/New York.md
  reports/North Carolina.md
  reports/North Dakota.md
  reports/Ohio.md
  reports/Oklahoma.md
  reports/Oregon.md
  reports/Pennsylvania.md
  reports/South Carolina.md
  reports/Tennessee.md
  reports/Texas.md
  reports/Utah.md
  reports/Vermont.md
  reports/Virginia.md
  reports/Washington DC.md
  reports/Washington.md
  reports/Wisconsin.md
  tools/data_builder.py
  tools/data_rewriter.py
Labels: Engineering

#742 WA: New Olympia invident
  reports/Washington.md
Labels: New report

#743 OR: fresh hell from Portland
  reports/Oregon.md
Labels: New report

#744 DC: New & updated incidents
  reports/Washington DC.md
Labels: Incident Update, New report

#746 OH: Columbus cops still wild
  reports/Ohio.md
Labels: New report

#747 NC: Raleigh incident from the 18th
  reports/North Carolina.md
Labels: New report

#748 VA: Richmond continues to burn
  reports/Virginia.md
Labels: New report

#751 Update Oregon.md
  reports/North Carolina.md
  reports/Oregon.md
  reports/Washington DC.md
  reports/Washington.md
Labels: Incident Update

#758 OR: Is portland still fucked up? Do you have to ask?
  reports/California.md
  reports/Oregon.md
Labels: New report

#767 MO: New incident
  reports/California.md
  reports/Missouri.md
Labels: New report

#763 CA: New incident
  reports/California.md
Labels: New report

#769 DC: two new incidents
  reports/Washington DC.md
Labels: New report

#771 CA: New incident
  reports/California.md
Labels: New report

#772 PA: new incident
  reports/Pennsylvania.md
Labels: New report

#768 OR: two from portland
  reports/Oregon.md
Labels: New report

#770 IL: New Chicago incident
  reports/Illinois.md
Labels: New report

#774 FL: new incident
  reports/Florida.md
Labels: New report

#784 TX: New Austin incidents
  reports/Texas.md
Labels: New report

#783 NY: New incident from June 30th
  reports/New York.md
Labels: New report

#782 TN: Welcome Nashville to the party
  reports/Tennessee.md
Labels: New report

#776 MN: new incident
  reports/Minnesota.md
Labels: New report
