Repository 2020PB/police-brutality, pull requests merged in 2020-07, with the labels that each got.

#777 PA: new incident
  reports/Pennsylvania.md
Labels: New report

#798 CO: New denver incident
  reports/Colorado.md
Labels: New report

#805 WA: Chaz clearing
  reports/South Carolina.md
  reports/Washington.md
Labels: New report

#797 TN: New Chattanooga. So hard to spell
  reports/Tennessee.md
Labels: New report

#792 OH: New Columbus incident
  reports/Ohio.md
Labels: New report

#795 CA: Norco incident
  reports/California.md
Labels: New report

#786 NY: New incident
  reports/New York.md
Labels: New report

#785 OR: New incident
  reports/Oregon.md
Labels: New report

#788 FL: New Miami incident
  reports/Florida.md
Labels: New report

#799 DC: Moved incident & added link & info
  reports/Washington DC.md
Labels: Incident Update

#790 NC: New link
  reports/North Carolina.md
Labels: Incident Update

#791 SC: New Charleston incident
  reports/South Carolina.md
Labels: New report

#815 KY: two new incidents
  reports/Kentucky.md
Labels: New report

#787 AZ: Please welcome Tempe to the stage.
  reports/Arizona.md
Labels: New report

#789 IA: New Des Moines incidents
  reports/Arkansas.md
  reports/Iowa.md
  reports/Washington.md
Labels: New report

#840 Assorted edits to Colorado.md
  reports/Colorado.md
Labels: Incident Update, New report

#853 TN: New incident
  reports/Tennessee.md
Labels: New report, VolunteerNeeded

#843 MO: New incident
  reports/Missouri.md
Labels: New report

#835 OH: New incident
  reports/Ohio.md
Labels: New report

#836 DC: New incident
  reports/Washington DC.md
Labels: New report

#820 WA: New incidents
  reports/Washington.md
Labels: New report

#821 SD: Keystone incident
  reports/California.md
  reports/South Dakota.md
  reports/Washington.md
Labels: New report

#861 PA: New Pittsburgh incident
  reports/Pennsylvania.md
Labels: New report

#860 OH: New C-incident
  reports/Ohio.md
Labels: New report

#858 CA: additional footage from Vallejo
  reports/California.md
Labels: Incident Update

#862 KY: New Incidents
  reports/Kentucky.md
  reports/Washington DC.md
Labels: New report

#859 OR: new incidents
  reports/Oregon.md
Labels: New report

#864 WA: new link
  reports/Washington.md
Labels: Incident Update

#888 OR: Keep Portland Weird
  reports/Oregon.md
Labels: New report

#876 UT: New incident
  reports/Utah.md
Labels: New report

#886 CA: New LA Incident
  reports/California.md
Labels: New report

#901 OR: New Portland incidents
  reports/Oregon.md
Labels: New report

#887 KY: New Incidents
  reports/Kentucky.md
Labels: New report

#885 IO: New incidents
  reports/Iowa.md
Labels: New report

#900 Update New York.md
  reports/New York.md
Labels: New report

#906 OR: New link
  reports/Oregon.md
Labels: Incident Update

#959 NY: June 4th
  reports/New York.md
Labels: Incident Update, New report

#956 NY: May 28th
  reports/New York.md
Labels: New report

#957 NY: May 29th
  reports/New York.md
Labels: New report

#960 NY: June 1st
  reports/New York.md
Labels: New report, VolunteerNeeded

#961 NY: June 2nd
  reports/New York.md
Labels: Incident Update, New report, VolunteerNeeded

#962 NY: June 3rd
  reports/New York.md
Labels: Incident Update, New report, VolunteerNeeded

#964 Update New York.md
  reports/New York.md
Labels: Incident Update, New report

#970 FL: moved tampa incident to Miami
  reports/Florida.md
Labels: Incident Update

#1003 Update Florida.md
  reports/Florida.md
  reports/Michigan.md
Labels: New report

#1007 Update Oregon.md
  reports/Oregon.md
Labels: New report

#1024 Oregon 18th 19th
  reports/Oregon.md
Labels: New report

#1021 July 17th Chicago
  reports/Illinois.md
Labels: New report

#1038 Update ca-losangeles-40
  reports/California.md
Labels: Incident Update

#1039 Update Illinois.md
  reports/Illinois.md
Labels: New report

#1034 Update Texas.md
  reports/Texas.md
Labels: New report, VolunteerNeeded

#1036 Update Missouri.md
  reports/Missouri.md
Labels: Incident Update, New report

#1040 Update Ohio.md
  reports/Ohio.md
Labels: New report

#1041 Update Colorado.md
  reports/Colorado.md
Labels: New report

#1042 Update Virginia.md
  reports/Virginia.md
Labels: Incident Update

#1046 Update North Carolina.md
  reports/North Carolina.md
Labels: Incident Update

#1059 Notes on neutrality
  CONTRIBUTING.md
  docs/neutrality.md
Labels: Docs

#1060 Oregon incidents
  reports/Oregon.md
Labels: New report

#1075 Portland: Oof
  reports/Oregon.md
Labels: New report

#1073 Update Michigan.md
  reports/Michigan.md
Labels: New report, VolunteerNeeded

#1074 Update Arizona.md
  reports/Arizona.md
Labels: New report, VolunteerNeeded

#1077 CA: Update ca-losangeles-40
  reports/California.md
Labels: Incident Update

#1080 Update Washington.md
  reports/Washington.md
Labels: New report, VolunteerNeeded

#1090 Update Missouri.md
  reports/Missouri.md
Labels: New report

#1091 Oregon
  reports/Oregon.md
Labels: New report

#1092 Update North Carolina.md
  reports/North Carolina.md
Labels: New report

#1093 Update Virginia.md
  reports/Virginia.md
Labels: New report

#1108 One more day in portland
  reports/Oregon.md
Labels: New report

#1112 Update Pennsylvania.md
  reports/Pennsylvania.md
Labels: Incident Update

#1109 Update New York.md
  reports/New York.md
Labels: New report

#1115 Update California.md
  reports/California.md
Labels: Incident Update, New report

#1138 Update Colorado.md
  reports/Colorado.md
Labels: New report

#1124 A new day in Oregon. The same as the last.
  reports/Oregon.md
Labels: New report

#1145 Update Florida.md
  reports/Florida.md
Labels: New report

#1152 Update California.md
  reports/California.md
Labels: New report

#1163 Seattle 25th
  reports/Washington.md
Labels: New report

#1164 NYC Incidents
  reports/New York.md
Labels: New report

#1166 VA incidents
  reports/Virginia.md
Labels: New report

#1168 Update Oregon.md
  reports/Oregon.md
Labels: New report

#1167 Update Colorado.md
  reports/Colorado.md
Labels: New report

#1171 Update New York.md
  reports/New York.md
Labels: New report

#1176 Update California.md
  reports/California.md
  reports/Washington.md
Labels: New report

#1197 Portlandia
  reports/Oregon.md
Labels: New report

#1198 Update Washington.md
  reports/Washington.md
Labels: New report

#1199 Update Pennsylvania.md
  reports/Pennsylvania.md
Labels: New report

#1200 Update Virginia.md
  reports/Virginia.md
Labels: New report

#1201 Update Oregon.md
  reports/Oregon.md
Labels: New report

#1202 Update Oregon.md
  reports/Oregon.md
Labels: Incident Update

#1203 Update Oregon.md
  reports/Oregon.md
Labels: New report

#1204 Update Oregon.md
  reports/Oregon.md
Labels: New report

#1217 Oregon 27th 28th
  reports/Oregon.md
Labels: New report

#1216 Update Washington.md
  reports/Washington.md
Labels: New report

#1206 Update Oregon.md
  reports/Oregon.md
Labels: Incident Update

#1218 Oregon 27th 28th
  reports/Oregon.md
Labels: New report

#1238 Oregon: new incidents
  reports/Oregon.md
Labels: New report

#1249 Update Massachusetts.md
  reports/Massachusetts.md
Labels: New report

#1250 Update California.md
  reports/California.md
Labels: New report

#1251 Update California.md
  reports/California.md
Labels: New report

#1255 Oregon
  reports/Oregon.md
Labels: New report

#1259 Update California.md
  reports/California.md
Labels: Incident Update
